DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/mini_ats

# LLM provider: gemini | openai
LLM_PROVIDER=gemini

OPENAI_API_KEY=your_openai_key_here
OPENAI_MODEL=gpt-4o-mini

GEMINI_API_KEY=your_gemini_key_here
GEMINI_MODEL=gemini-2.0-flash-lite

STORAGE_MODE=local
UPLOAD_DIR=./uploads
PUBLIC_BASE_URL=http://localhost:8000
CORS_ORIGINS=http://localhost:3000
